CONFIG_LWIP_NETIF_LOOPBACK=y
CONFIG_LWIP_MAX_SOCKETS=10
CONFIG_FREERTOS_UNICORE=y
CONFIG_WIFI_SSID=""
CONFIG_WIFI_PASSWORD=""
CONFIG_HUB_URL=""
CONFIG_HUB_TOKEN=""
CONFIG_IP_COOLDOWN_SECONDS=180
CONFIG_ESP_SYSTEM_USE_FRAME_POINTER=y
CONFIG_ESP_TASK_WDT_PANIC=y
